<section class="container-fluid">
    <div class="row">
        <div class="col">
            <img [src]="myAbout.banner" alt="Banner con libro" id="banner" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <aside class="col-4">
            <img [src]="myAbout.photo" alt="Mi foto" id="miFoto">
            <button id="btnEditAbout" class="btn-edit" onclick='editAbout()'>
                <img src="https://i.ibb.co/2sDL77H/edit.png" alt="edit" class="icon">
            </button>
            <h1> {{myAbout.name}} </h1>
            <h3 id="titleText"> {{myAbout.title}} </h3>
        </aside>
        <article class="col-lg-8 ms-auto sobreMi title">
            <div class="bio">
                <div class="edit">
                    <h4>Sobre mi</h4>
                </div>
                <p id="aboutText">
                    {{myAbout.about}}
                </p>
            </div>
            <div class="contact">
                <h4> Información de contacto </h4>
                <div class="data">
                    <p id="mail"><img src="https://i.ibb.co/gMxHZDP/mail.png" class="icon2"><span id="mailText">{{myAbout.mail}}</span></p> 
                    <P id="tel"><img src="https://i.ibb.co/86NLBPz/tel.png" class="icon2"><span id="telText">{{myAbout.tel}}</span></P> 
                    <p id="dir"><img src="https://i.ibb.co/qLSDjJm/lugar.png" class="icon2"><span id="dirText">{{myAbout.address}}</span></p>    
                </div>
            </div>
        </article>
    </div>
</section>
<section class="container-fluid" id="aboutForm" >
    <h3>Editar datos</h3>
    <form [formGroup]="editPerson" (ngSubmit)="sendForm(editPerson.value)">
        <div class="form-group">
            <label for="banner">Url de la imagen del banner:</label><br>
            <input type="text" class="form-control" [placeholder]="myAbout.banner" formControlName="banner" >
        </div>
        <div class="form-group">
            <label for="photo">Url de la foto:</label><br>
            <input type="text" class="form-control" [placeholder]="myAbout.photo" formControlName="photo" >
        </div>
        <div class="form-group">
            <label for="name">Nombre y apellido:</label><br>
            <input type="text" class="form-control"  formControlName="name" [placeholder]="myAbout.name">
        </div>
        <div class="form-group">
            <label for="title">Título:</label><br>
            <input type="text" class="form-control" [placeholder]="myAbout.title" formControlName="title">
        </div>
        <div class="form-group">
            <label for="about">Sobre mí:</label><br>
            <textarea type="text" class="form-control" [placeholder]="myAbout.about" formControlName="about" rows="5"></textarea>
        </div>  
        <div class="form-group">
            <label for="mail">Email:</label><br>
            <input type="text" class="form-control" [placeholder]="myAbout.mail" formControlName="mail" >
        </div>
        <div class="form-group">
            <label for="tel">Teléfono:</label><br>
            <input type="text" class="form-control" [placeholder]="myAbout.tel" formControlName="tel" >
        </div>
        <div class="form-group">
            <label for="address">Lugar de residencia:</label><br>
            <input type="text" class="form-control" [placeholder]="myAbout.address" formControlName="address" >
        </div>
        <div class="form-group">
            <label for="skills">Url de la imagen con las habilidades:</label><br>
            <input type="text" class="form-control" [placeholder]="myAbout.skills" formControlName="skills" ><br>
        </div>
        <button type="submit" onclick="hideForm()">Modificar</button>
    </form>
</section>
