<header class="row justify-content-between align-items-center">
    <div class="col-4 header">
        <img src="https://i.ibb.co/R33Gsnn/APLogo.png" alt="Logo Argentina Programa" class="logoAP">
        <p>#YoProgamo </p> 
    </div>
    <div class="col-4 redes">
        <a href="https://www.linkedin.com/in/gabrielagcantero"><img src="https://i.ibb.co/Lhxzwp6/lnIcon.png" alt="Facebook" class="icon"></a>
        <a href="https://www.github.com/gabrielagcantero"><img src="https://i.ibb.co/dJR3qy5/ghIcon.png" alt="GitHub" class="icon"></a>
        <a href="https://www.facebook.com/amyleemonroe"><img src="https://i.postimg.cc/J1BfS063/fbIcon.png" alt="Linkedin" class="icon"></a>
        <button class="btn btn-dark" id="login" onclick="login()">Login</button>
        <button class="btn btn-dark" id="logout" onclick="logout()">Logout</button>
    </div>
</header>
