<section class="container-fluid">
    <div class="edit">
        <h3>Cursos</h3>
        <button class="btn-edit" onclick='addCurso()'>
            <img src="https://i.ibb.co/sQYnq8j/add.png" alt="edit" class="icon">
        </button>
    </div>
    <form id="addCursoForm" style="display: none">
        <input id="logoCurso" type="text" placeholder="Url del logo de la institución"><br>
        <input id="nombreCurso" type="text" placeholder="Nombre de la institución"><br>
        <input id="fechaCurso" type="text" placeholder="mes/año de inicio - mes/año de finalización"><br>
        <input id="tituloCurso" type="text" placeholder="Nombre del curso"><br>
        <button onclick='addCurso2()'>Guardar</button>
    </form>
    <ul id="cursos">
        <li class="row art" *ngFor="let course of myCourses">
            <div class="col-3">
                <img [src]="course.inst.logo" class="logo">
            </div>
            <div class="col info">
                <div class="edit">
                    <p class="title">{{course.inst.name}}</p>
                    <div class="buttons">
                        <button class="btn-edit" onclick="deletes(this)">
                            <img src="https://i.ibb.co/d07JS50/del.png" alt="edit" class="icon-edit">
                        </button>
                    </div>
                </div>
                <p>Desde: {{course.dateFrom}} - Hasta: {{course.dateTo}}</p>
                <p>{{course.title}}</p>
            </div>
        </li>
    </ul>
</section>
