<section class="container-fluid">
    <div class="edit">
        <h3>Educacion Formal</h3>
        <button class="btn-edit" onclick='addEdu()'>
            <img src="https://i.ibb.co/sQYnq8j/add.png" alt="edit" class="icon">
        </button>
    </div>
    <form [formGroup]="addEduForm" (ngSubmit)="addEducation(addEduForm.value)" id="addEduForm" style="display: none">
        <div class="form-group">
            <label for="idInstitute">Institución:</label><br>
            <input type="text" class="form-control" formControlName="idInstitute" >
        </div>
        <div class="form-group">
            <label for="dateFrom">Fecha de inicio:</label><br>
            <input type="date" class="form-control"  formControlName="dateFrom">
        </div>
        <div class="form-group">
            <label for="dateTo">Fecha de fin:</label><br>
            <input type="date" class="form-control" formControlName="dateTo">
        </div>
        <div class="form-group">
            <label for="title">Titulo obtenido:</label><br>
            <input type="text" class="form-control" formControlName="title">
        </div>
        <div class="form-group">
            <label for="prom">Promedio:</label><br>
            <input type="text" class="form-control" formControlName="prom">
        </div>  
        <button type="submit" onclick='addEdu2()'>Agregar</button>
    </form>
    <ul id="edus">
        <li class="row art artEdu" *ngFor="let education of myEducation">
            <div class="col-2">
                <img [src]="education.inst.logo" class="logo">
            </div>
            <div class="col info">
                <div class="edit">
                    <p class="title">{{education.inst.name}}</p>
                    <div class="buttons">
                        <button class="btn-edit" (click)="deleteEducation(education.idEducation)">
                            <img src="https://i.ibb.co/d07JS50/del.png" alt="edit" class="icon-edit">
                        </button>
                    </div>
                </div>
                <p>Desde: {{education.dateFrom}} - Hasta: {{education.dateTo}}</p>
                <p>{{education.title}}</p>
                <p>Promedio: {{education.prom}}</p>
            </div>
            <div>
                <form [formGroup]="editEduForm" (ngSubmit)="editEducation(editEduForm.value, education.idEducation)" id="editEduForm" style="display: none">
                    <div class="form-group">
                        <label for="idInstitute">Institución:</label><br>
                        <input type="text" class="form-control" formControlName="idInstitute" >
                    </div>
                    <div class="form-group">
                        <label for="dateFrom">Fecha de inicio:</label><br>
                        <input type="date" class="form-control"  formControlName="dateFrom">
                    </div>
                    <div class="form-group">
                        <label for="dateTo">Fecha de fin:</label><br>
                        <input type="date" class="form-control" formControlName="dateTo">
                    </div>
                    <div class="form-group">
                        <label for="title">Titulo obtenido:</label><br>
                        <input type="text" class="form-control" formControlName="title">
                    </div>
                    <div class="form-group">
                        <label for="prom">Promedio:</label><br>
                        <input type="text" class="form-control" formControlName="prom">
                    </div>  
                    <button type="submit" onclick='editEdu2()'>Agregar</button>
                </form>
            </div>
        </li>
    </ul>
</section>
