<h3>Editar datos</h3>
<form>
    <label for="bannerCamp">Url de la imagen del banner:</label><br>
    <input type="text" [placeholder]="myAbout.banner" id="bannerCamp" ><br>
    <label for="photoCamp">Url de la foto:</label><br>
    <input type="text" [placeholder]="myAbout.photo" id="photoCamp" ><br>
    <label for="nameCamp">Nombre y apellido:</label><br>
    <input type="text" [placeholder]="myAbout.name" id="nameCamp" ><br>
    <label for="titleCamp">Título:</label><br>
    <input type="text" [placeholder]="myAbout.title" id="titleCamp"><br>
    <label for="biographyCamp">Sobre mí:</label><br>
    <textarea type="text" [placeholder]="myAbout.biography" id="biographyCamp" rows="5"></textarea><br>
    <label for="mailCamp">Email:</label><br>
    <input type="text" [placeholder]="myAbout.mail" id="mailCamp" ><br>
    <label for="telCamp">Teléfono:</label><br>
    <input type="text" [placeholder]="myAbout.tel" id="telCamp" ><br>
    <label for="addressCamp">Lugar de residencia:</label><br>
    <input type="text" [placeholder]="myAbout.address" id="addressCamp" ><br><br>
    <button type="submit">Modificar</button>
</form>
